/* Base */
:root {
    --black: #0D1117;
    --light-grey: #161B22;
    --light-grey2: #8B949E;
    --purple: #703FC9;
    --green: #3FB950;
    --blue: #33B3AE;
    --pink: #F778BA;

    --gap: 1.5rem;
    --border-rad-sml: 0.4rem;
}

/* Utility */
.grid {
    display: grid;
}

.flex {
    display: flex;
    gap: 2rem;
}

.card {
    background-color: var(--light-grey2);
    padding: 1.5rem;
}

.nav,
.header,
.card {
    border-radius: var(--border-rad-sml);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--black);
    color: white;
}

h1,
h2,
h3,
.nav a,
.header p {
    font-family: "Mona-Sans";
    font-weight: 600;
}

a,
a:visited {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    background-color: rgba(255, 255, 255, 0.678);
    border: none;
    border-radius: var(--border-rad-sml);
}

button:hover {
    cursor: pointer;
}

/* Main layout */
html {
    height: 100%;
}

body {
    min-height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;

    padding: 2rem 2rem 0rem 2rem;
    gap: 1.5rem;
}

/* Header */
.header {
    grid-row: 1;
    grid-column: 2;

    background-color: var(--light-grey);
    padding: 1rem;
    gap: 2rem;
}

.header-row-1,
.header-row-2 {
    justify-content: space-between;
    align-items: center;
}

.header-row-1 {
    gap: 10rem;
}

.header-row-2>.right {
    gap: 0.75rem;
}

.header button {
    text-align: center;
    width: 4rem;
    padding: 0.4rem 0.8rem;
}

.search {
    flex: 2;
}

.search>input {
    flex: 1;
    max-height: 1rem;
    border-radius: 5rem;
    border: none;
}

/* Nav */
.nav {
    grid-column: 1;
    grid-row: 1/3;

    flex-direction: column;
    gap: 4rem;

    background-color: var(--light-grey);
    padding: 1rem;
}

.nav>nav {
    flex-direction: column;
    gap: 4rem;
}

.nav img {
    margin-right: 2rem;
}

.nav li {
    margin-bottom: 2rem;
}

/* Main */
.main {
    grid-column: 2;
    grid-row: 2;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 20fr;
    gap: var(--gap);
}

.main>h2 {
    align-self: flex-end;
}

.card-icons {
    justify-content: end;
    gap: 1rem;
}

.main-right {
    gap: 3rem;
}

.projects {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--gap);
}

/* Main right */
.trending>h2 {
    margin-bottom: 1.5rem;
}

.announcements h3,
.trending h3 {
    margin-bottom: 0.2rem;
}

.announcements li,
.trending li {
    margin-bottom: 1.5rem;
}