/* Base */
:root {
    --black: #0D1117;
    --light-grey: #161B22;
    --light-grey2: #e5edff71;
    --purple: #703FC9;
    --green: #3FB950;
    --blue: #33B3AE;
    --pink: #F778BA;

    --gap: 1.5rem;
    --border-rad-sml: 0.4rem;
}

/* Utility */
.grid {
    display: grid;
}

.flex {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav,
.header,
.card {
    border-radius: var(--border-rad-sml);
    outline: 1px solid rgba(255, 255, 255, 0.158);
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.6);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--black);
    color: white;
}

h1,
h2,
h3,
.header p,
.nav a {
    font-weight: 600;
}

h1,
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

img {
    filter: brightness(0) invert(1);
}

a,
a:visited {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    background-color: rgba(0, 0, 0, 0.178);
    border: none;
    border-radius: var(--border-rad-sml);
}

button:hover,
a:hover {
    cursor: pointer;
}

/* Main layout */
body {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15% 85%;

    padding: 2rem 2rem 0rem 2rem;
    gap: 1.5rem;
}

/* Header */
.header {
    grid-row: span 1;
    grid-column: span 1;

    background-color: var(--light-grey);
    padding: 1.5rem;
    gap: 2rem;
}

.header-row-1,
.header-row-2 {
    justify-content: space-between;
    align-items: center;
}

.header-row-1 {
    gap: 15rem;
}

.header-row-2>.right {
    gap: 0.75rem;
}

.header-row-2 p {
    color: rgba(255, 255, 255, 0.788);
    font-weight: 400;
}

.header-row-2 span {
    font-weight: 600;
    color: white;
    font-size: 1.3rem;
    line-height: 30px;
}

.header button {
    text-align: center;
    width: 4rem;
    padding: 0.4rem 0.8rem;
}

.search {
    flex: 2;
}

.search>input {
    flex: 1;
    height: 0.4rem;
    border-radius: 5rem;
    border: none;
    padding: 0.75rem;
}

.header button,
.header input {
    background-color: rgba(0, 0, 0, 0.247);
    outline: 1px solid rgba(255, 255, 255, 0.137);
    color: rgba(255, 255, 255, 0.76);
}

.header input:focus {
    outline-color: rgba(255, 255, 255, 0.315);
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.459);
}

.pfp-large {
    width: 3rem;
}

/* Nav */
.nav {
    grid-column: span 1;
    grid-row: 1/-1;

    flex-direction: column;
    align-items: start;
    gap: 4rem;

    background-color: var(--light-grey);
    padding: 1.5rem;

}

.nav>.title {
    gap: 0.9rem;
}

.title>img {
    width: 2.5rem;
}

.nav>nav {
    flex-direction: column;
    gap: 4rem;
}

.other-nav {
    align-self: start;
}

.main-nav img,
.other-nav img {
    margin-right: 2rem;
}

.nav li {
    margin-bottom: 2rem;
}

.nav a {
    display: flex;
    align-items: center;
}

/* Main */
.main {
    grid-column: span 1;
    grid-row: span 1;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 20fr;
    gap: var(--gap);
}

.main>h2 {
    align-self: flex-end;
}

.projects {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: var(--gap);
}

.card {
    background-color: var(--light-grey2);
    padding: 1.5rem;

    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.card p {
    color: rgba(255, 255, 255, 0.829);
}

.card-icons {
    margin-top: 1rem;
    margin-left: auto;
    justify-content: end;
    gap: 1rem;
}

.card-icons>button {
    padding: 0.25rem 0.5rem;
}

/* Main right */
.main-right {
    grid-template-rows: 1fr 2fr;
    gap: 3rem;
}

.trending>h2 {
    margin-bottom: 1.5rem;
}

.announcements h3,
.trending h3 {
    margin-bottom: 0.2rem;
}

.announcements>ul,
.trending>ul {
    gap: 1.5rem;
}