/* Utility */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.card {
    background-color: pink;
    border: 1px solid blue;
}

/* Base */
:root {
    --black: #0D1117;
    --mid-grey: #0D1117;
    --light-grey: #161B22;
    --light-grey2: #8B949E;
    --purple: #703FC9;
    --green: #3FB950;
    --blue: #33B3AE;
    --pink: #F778BA;

    --gap: 1.5rem;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: "Mona-Sans"; */
    background-color: var(--black);
    color: white;
}

/* Main layout */
html {
    height: 100%;
}

body {
    min-height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-row: 1;
    grid-column: 2;
}

.nav {
    grid-column: 1;
    grid-row: 1/3;
}

.main {
    grid-column: 2;
    grid-row: 2;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 9fr;
    gap: var(--gap);
}

.projects {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--gap);
}

.projects>.card {
    height: 200px;
}

/* Header */